<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css")
    title Document
  body
    table#coinTable.display(style='width:100%')
      thead
        tr
          th 코인 (Coin)
          th 원 (Won)
          th 거래량
          th 달러 시세차 (Dollar Gap)
    
      tbody
        each val, index in dataArray.data
          tr
            td= `${index}`
            td= `${val.sell_price}`
            td= `${val.volume_7day}`
            td= `EMOJI/`
script(src="https://code.jquery.com/jquery-3.3.1.js")
script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
script(src="./javascripts/index.js")