.Post {
  background-color: #fafafa;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16), 0 5px 8px rgba(0, 0, 0, 0.23);

  /* height: 100%; */
  margin: 0 auto;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
  color: #ffff;
}

.plus {
  color: #2B8F28;
}

.minus {
  color: steelblue;
}

.Post h1 {
  font-size: 3rem;
}

.Post p {
  font-size: 2rem;
}

.rdt_TableFooter {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .Post {
    width: 60% !important;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .Post {
    width: 100% !important;
  }
}