.Post {
  /* padding: 0.1rem; */
  /* margin-top: 1rem; */
  /* margin-bottom: 2rem; */
  background-color: #FAFAFA;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16), 0 5px 8px rgba(0, 0, 0, 0.23);
  width: 60rem;
  margin: 0 auto;
}

.Post h1 {
  font-size: 3rem;
}

.Post p {
  font-size: 2rem;
}